table{
  border: 1px solid;
  height: 500px;
  width: 500px;
  border-collapse: collapse;
}
tr, td{
  border: 1px solid;
}

.seaElement, .seaShipElement {
  background: #00FFFF;
  cursor: pointer;
}
.seaElementShow{
  background: #4682B4;
}
.seaShipElementShow{
  background-color: #FF4500;
}
