@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
  url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
  url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
  url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
  url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
  url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
  url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
  url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
  url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansRegularItalic";
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
  url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
  url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
  url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body{
  font-family: "RobotoRegular";
}
.navbar-header>a{
  background-image: url("../img/Tornado.png");
  width:150px;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar{
  background-color: transparent;
  border: 0;
  font-weight: 400;
  color: white;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-default .navbar-nav > li > a{
  color: white;
}
.nav{
  margin-left: 55px;
}
.nav.navbar-nav>a{
  margin-left: 25px;
  padding: 0;
}
@media only screen and (max-width : 1200px) {
  .navbar-nav a{
    font-size: 9px !important;
    padding-left: 0 !important;
  }
  .tagLine{
    margin-left: 0px;
  }
}
.callBack > a{
  margin-left: 60px;
}

.callBack > a >span {
  text-decoration: underline;

  color: rgb(222, 2, 220)
}


.tagLine{
  height: 260px;
  margin-top: 260px;
  background-image: url("../img/improve your business by digital_.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
header{
  background-image: url("../img/New_2.png");
  background-attachment: relative;
  background-position: center center;
  min-height: 550px;
  height: 950px;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.moreInfo{
  height: 110px;
}
.moreInfo>span{
  font-size: 16px;
}
.moreInfoBtn{
  text-align: center;
}
.moreInfo>span{
  height: 66px;
  position: absolute;
  text-align: center;
}
.clickInfo{
  background-color: transparent;
  color: white;
}
.secondSlide{
  width: 100%;
  height: 950px;
  background-image: url("../img/SecondSlide.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1920;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.secondSlide>.container>div{
  height: 220px;
  color: white;
}
.secondSlide>.container{
  height: 950px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.secondSlide>.container>div>p{
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.thirdSlide{
  padding-bottom: 220px;
  padding-top: 110px;
}

.firstMarketSlide{
  height: 830px;

}
.siteDevelop{
  height: 400px;
}

.siteDevelopImg{
  height: 520px;
}
.siteDevelopImg>img{
  display: block;
  margin: 0 auto;

}

.secondMarketSlide{
  height: 710px;

}
.prototype{
  height: 440px;
}
.prototypeImg{
  height: 300px;
}
.prototypeImg>img{
  display: block;
  margin: 0 auto;
}

.internetMarket{
  height: 420px;


}
.internetMarketImg{
  height: 310px;
}
.internetMarketImg>img{
  display: block;
  margin: 0 auto;

}
.thirdMarketSlide{
  height: 410px;

}
.thirdSlide p{
  font-family: "RobotoMedium";
  line-height: 2;
  padding-top: 30px;
  font-size: 16px;
}
.thirdSlide h1{
  font-family: "RobotoBold";
  font-size: 50px;
}
.thirdSlide button{
  margin-top: 20px;
  color: white;
  background-color: rgb(52, 50, 52);
}

.mainSlide{
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: rgb(241, 241, 241)
}
.project{
  height: 1320px;
}
.brandSlide{

  padding-bottom:190px;
}
.brandSlide .container >div{
  display: table;
  height: 100px;
  padding-left: 0px;
  padding-right: 0px;
}
.brandSlide .container >div>div{
  display: table-cell;
  vertical-align: middle;
}
.brandSlide .container >div>div>img{
  display:block;
  margin: 0 auto;
}
.project{
  height: 1200px;

}
.largeWork{
  height: 480px;

}
.smallWork{
  height: 240px;
}
.project .container>div{
  padding: 5px;
}
.project .container>div>img{
  width: 100%;
  height: 100%;
}
.moreWorkBtn{
  text-align: center;
  margin-top:  80px;
  height:
}
.moreWorkBtn>button{
  margin-top: 20px;
  color: white;
  background-color: rgb(52, 50, 52);
  width: 60%
}
.moreWorkBtn>a{
  margin-top: 20px;
  color: rgb(222, 2, 220)
}
.reviews{
  padding-top: 35px;
  padding-bottom: 60px;
  height: 770px;
  background-image: url("../img/bcgRevies.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
.userIcon{
  height:  40%;
  width: 100%;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.userCallBackText{
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.owl-carousel{
  padding-top: 50px;
}
.owl-buttons{
  position: relative;
}
.owl-prev {
  position: absolute;
  left: -10px;
  top: -60px;
}

.owl-next {
  position: absolute;
  right: -10px;
  top: -60px;
}


.reviewsName{
  width: 100%;
  height: 40px;
  color: white;

}
.userReviews{
  margin: 0 auto;
  width: 300px;
  height: 460px;
}
.blog{
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../img/web-development.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blogBtn{
  color: white;
  font-size: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
.btnSetting{
  float: right;
  cursor: pointer;
  font-family: "OpenSansBold";
}
.blogText{
  padding-top: 12px;
  padding-bottom: 12px;
}
.blogText span{
  color: white;
  font-size: 20px;
  font-family: "OpenSansRegular";
}
.blogText p{
  padding-top: 10px;
  color: white;
  font-size: 10px;
  font-family: "OpenSansRegular";
}
.Subscription{
  text-align: center;
  padding-top: 25px;
}
.dreamStudio{
  font-family: "OpenSansRegular";
  font-size: 15px;
  color: rgb(203, 203, 203);

}
.subscriptionInfo{
  font-family: "RobotoRegular";
  color: rgb(203, 203, 203);
  font-size: 10px;
}
.addInfo{
  padding-top: 20px;
}
.addInfo>form> button{
  background-color: rgb(222, 2, 220);
  border: 0;
  color: white;
}

@media only screen and (max-width : 970px) {
  .btnSetting{
    float: none;
  }
  header{
    background-image: url("../img/New_2 mobi.png");
  }
  .callBack > a{
    margin-left: 0px;
  }
}

footer{
  background-color: rgb(24, 24, 24);

  padding-top: 25px;
  padding-bottom: 90px;
}

#foot>div{
  padding-top: 50px;
  color: white;
}
#foot div span{
  font-size: 15px;
  color: rgb(222, 2, 220);;
}
#foot div p{
  font-size: 15px;
}


.sendBtn{
  float: right;
  padding-top: 20px
}
.textArea{
  padding-top: 45px;
}
.firstForm{
  padding-right: 5px;
  float: left;
  width: 50%
}
.secondForm{
  float: right;
  width: 50%;
  padding-left: 5px;
}
.socialNetworks div{
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.facebookIcon{
  background-image: url("../img/icons8-Facebook Filled-50.png");
  background-repeat: no-repeat;
  background-position: center;
}
.instagramIcon{
  background-image: url("../img/icons8-Instagram Filled-50.png");
  background-repeat: no-repeat;
  background-position: center;
}
.linkIcon{
  background-image: url("../img/icons8-LinkedIn Filled-50.png");
  background-repeat: no-repeat;
  background-position: center;
}
.vkIcon{
  background-image: url("../img/icons8-VK.com Filled-50.png");
  background-repeat: no-repeat;
  background-position: center;
}

.tornadoFooter{
  position: absolute;
  background-image: url("../img/Tornado.png");
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 50px;
}
.tornadoTegline{
  background-image: url("../img/© 2017 Tornado. All rights Reserved.png");
  background-repeat: no-repeat;
  background-position: left;
  height: 50px;
  width: 100%;
}
